.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
}

.skeleton {
  max-width: 317px;
  width: 100%;
  height: 414px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 14%);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1060px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 730px) {
  .productList {
    grid-template-columns: repeat(1, 1fr);
  }
}
